<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>

<body style="margin: 0px;">
  <div class="page-container">

    <div class="nav">
      <div class="nav-container">
        <button class="home-bt" (click)="homeBt()"></button>
        <button class="project-bt" (click)="projectBt()"></button>
      </div>
    </div>

    <div class="top-bg">
      <div class="right">
        <div class="top-right">
          <p class="name">CHUTIKAN<br>
            OSSWAMANAKIT</p>
          <div class="line"></div>
          <p class="description">Proven history of developing web application, mobile
            application and hardware with skills in team working,
            ready to earning and solving problems.
            Seeking to join at software corporation to contribute
            my soft skills and knowledge to practice towards being
            a high - quality application developer.</p>
        </div>
      </div>
    </div>

    <div class="bt-bg1">

      <div class="left">

        <div class="top-left">
          <img src="../../assets/profile.jpg">
        </div>

        <div class="middle-left1">
          <div class="color-box">PROFILE</div>
          <p class="text">A 3rd-year student of the Faculty of
            Science in Computer Science Who
            always spends free time on write
            journal, listen to podcast, watch
            Japanese and Korean TV-series,
            and cook a meal. Used to be the
            president of the student committee
            coordination at the Faculty of
            Science And Technology.</p>
        </div>

        <div class="middle-left2">
          <div class="color-box">EDUCATION</div>
          <div class="list">
            <div class="bullet">
              <div class="circle"></div>
              <p class="text">
                Wat Maneeprisone Municipal School<br>
                2008 - 2014
              </p>
            </div>
            <div class="bullet">
              <div class="circle"></div>
              <p class="text">
                Sapphawitthayakhom School<br>
                <a class="italic">SMAT-Science Program, GPA 3.56<br>
                  MEP Program in junior high school</a><br>
                2008-2014
              </p>
            </div>
            <div class="bullet">
              <div class="circle"></div>
              <p class="text">
                Thammasat University (Thailand)<br>
                <a class="italic">Bachelor of Science in Computer<br>
                  Science Learning Technology Major,<br>
                  GPA 3.39<br></a>
                2020 - present
              </p>
            </div>
          </div>
        </div>

        <div class="bottom-left">
          <div class="color-box">CONTACT</div>
          <div class="text-container ">
            <p class="text">M:<br>
              P:<br>
              A:</p>
            <p class="text">chutikan.osswa@gmail.com<br>
              098 749 4479<br>
              Hangchat, Lampang, Thailand 52190</p>
          </div>
        </div>
      </div>


      <div class="right">

        <div class="middle-right">
          <div class="color-box">SKILLS</div>
          <div class="list">
            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                Native or bilingual proficiency<br>
                <a class="unbold">Thai and English</a>
                <div class="sub-bullet">
                  <div class="sub-circle"></div>
                  <a class="sub-text">Received score 15 out of 25 from Cambridge<br>
                    assessment English test called A2 Key or B1
                    Preliminary.</a>
                </div>
              </div>
            </div>

            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                Computer<br>
                <div class="sub-bullet">
                  <div class="sub-circle"></div>
                  <a class="sub-text">Software: Visual Studio code, Android Studio</a>
                </div>
                <div class="sub-bullet">
                  <div class="sub-circle"></div>
                  <a class="sub-text">Programming Language: C, Kotlin, Html, CSS,
                    JavaScript, ReactJS</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="bottom-right">
          <div class="color-box">ACHIEVEMENT</div>
          <div class="list">
            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                The 68th student handicraft fair, Programming
                Competition in High school student
                <div class="sub-bullet">
                  <div class="sub-circle"></div>
                  <a class="sub-text">Passed to northern region round and archived the 1st
                    Place</a>
                </div>
                <div class="sub-bullet">
                  <div class="sub-circle"></div>
                  <a class="sub-text">Passed to national round and archived the 3rd Place</a>
                </div>
              </div>
            </div>

            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                Thailand National Software Contest (NSC) 2022<br>
                <a class="sub-text">Passed to final round and archived the 3rd Place,<br>
                  "Smart Pill Box System for Elder"</a>
              </div>
            </div>

            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                The ASEAN Undergraduate Conference in Computing
                (AUCC) 2023<br>
                <a class="sub-text">Publication national proceeding and archived Excellent paper awards, <br>
                  "Pill Care: Smart Pill Box System for Elderly"</a>
              </div>
            </div>

            <div class="bullet">
              <div class="circle"></div>
              <div class="text">
                Thailand National Software Contest (NSC) 2023<br>
                <a class="sub-text">Passed to northern region round with grant,<br>
                  "Standing Detection System for Elderly Individuals"</a>
              </div>
            </div>

          </div>
          <div class="color-bar"></div>
        </div>
    </div>
  </div>
  </div>
</body>
 