.page-container {
  // display: flex;
  // flex-direction: row;
  // height: 100%;
  width: 100%;
  background: #ebebeb;

  .nav {
    position: absolute;
    width: 450px;
    height: 80px;
    border-radius: 0% 0% 0% 80px;
    background: rgba(31, 37, 47, 255);
    right: 0px;
    z-index: 9;

    .nav-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 60px;

      .home-bt {
        border: none;
        background: url('/assets/home-icon.png') no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }

      .project-bt {
        border: none;
        background: url('/assets/project-icon.png') no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }
    }
  }

  .top-bg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 72%;
    background: #d9dfe1;
    z-index: 3;

    .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 70%;
        margin-top: 60px;
        z-index: 5;
        flex: 1;

        .top-right {
          display: flex;
          flex-direction: column;
          width: 60%;
          padding-left: 30px;
          padding-right: 40px;

          .name {
            display: flex;
            flex-direction: row;
            font-family: "Poppins";
            font-weight: 1000;
            font-size: 7.5vw;
            line-height: 7.5vw;
            margin-top: 75px;
            margin-bottom: 25px;
            letter-spacing: 1px;
          }

          .line {
            background-color: rgba(31, 37, 47, 255);
            height: 1px;
            width: 80%;
          }

          .description {
            font-family: 'Poppins';
            font-size: 22.5px;
          }
        }
      }
  }

  .bt-bg1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    // z-index: -1;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 30%;
      border-radius: 250px 250px 0px 0px;
      background: rgba(31, 37, 47, 255);
      margin-top: -500px;
      margin-left: 35px;
      flex: 1;
      z-index: 7;

      .top-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          margin-top: 30px;
          width: 90%;
          border-radius: 50%;
        }
      }

      .middle-left1 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .color-box {
          background: #d9d9d9;
          width: fit-content;
          margin-top: 35px;
          padding: 10px 100px 10px 20px;
          border-radius: 0px 30px 30px 0px;
          font-family: 'Poppins';
          font-weight: 1000;
          font-size: 25px;
        }

        .text {
          font-family: 'Poppins';
          font-weight: 200;
          padding: 10px 20px 10px 20px;
          font-size: 20px;
          text-align: justify;
          color: #d9d9d9;
        }
      }

      .middle-left2 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .color-box {
          background: #d9d9d9;
          width: fit-content;
          margin-top: 20px;
          padding: 10px 100px 10px 20px;
          border-radius: 0px 30px 30px 0px;
          font-family: 'Poppins';
          font-weight: 1000;
          font-size: 25px;
        }

        .list {
          display: flex;
          flex-direction: column;

          .bullet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .circle {
              display: flex;
              background-color: #d9d9d9;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              margin-top: 23px;
              margin-left: 20px;
            }

            .text {
              font-family: 'Poppins';
              font-weight: 200;
              font-size: 20px;

              color: #d9d9d9;
              padding: 0px 20px 0px 20px;

              .italic {
                font-style: italic;
              }
            }
          }
        }


      }

      .bottom-left {
        display: flex;
        flex-direction: column;
        width: 100%;

        .color-box {
          background: #d9d9d9;
          width: fit-content ;
          margin-top: 20px;
          padding: 10px 100px 10px 20px;
          border-radius: 0px 30px 30px 0px;
          font-family: 'Poppins';
          font-weight: 1000;
          font-size: 25px;
        }

        .text-container {
          display: flex;
          flex-direction: row;
          width:90%;
          padding: 10px 20px 10px 20px;

          .text {
            font-family: 'Poppins';
            font-weight: 200;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            color: #d9d9d9;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 70%;
      z-index: 7;
      flex: 2;

      .middle-right {
        display: flex;
        flex-direction: column;
        width: 100%;

        .color-box {
          background: rgba(31, 37, 47, 255);
          width: fit-content;
          margin-top: 20px;
          padding: 10px 100px 10px 20px;
          border-radius: 0px 30px 30px 0px;
          font-family: 'Poppins';
          color: #d9d9d9;
          font-weight: 1000;
          font-size: 25px;
        }

        .list {
          display: flex;
          flex-direction: column;

          .bullet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20px;
            margin-left: 40px;

            .circle {
              display: flex;
              background-color: #d9d9d9;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              margin-top: 9px;
              margin-left: 20px;
            }

            .text {
              display: flex;
              flex-direction: column;
              font-family: 'Poppins';
              font-weight: 800;
              font-size: 25px;
              // text-align: justify;
              color: rgba(31, 37, 47, 255);
              padding: 0px 20px 0px 20px;

              .unbold {
                font-weight: 200;
              }

              .sub-bullet {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                .sub-circle {
                  display: flex;
                  background-color: rgba(31, 37, 47, 255);
                  height: 10px;
                  width: 10px;
                  border-radius: 50%;
                  margin-top: 20px;
                  margin-left: 20px;
                }

                .sub-text {
                  display: flex;
                  flex-direction: column;
                  font-family: 'Poppins';
                  font-weight: 200;
                  font-size: 25px;
                  // text-align: justify;
                  line-height: 30px;
                  color: rgba(31, 37, 47, 255);
                  padding: 0px 20px 0px 20px;
                  margin-top: 10px;
                }
              }


            }
          }
        }
      }


      .bottom-right {
        display: flex;
        flex-direction: column;
        width: 100%;

        .color-box {
          background: rgba(31, 37, 47, 255);
          width: fit-content;
          margin-top: 20px;
          padding: 10px 100px 10px 20px;
          border-radius: 0px 30px 30px 0px;
          font-family: 'Poppins';
          color: #d9d9d9;
          font-weight: 1000;
          font-size: 25px;
        }

        .list {
          display: flex;
          flex-direction: column;

          .bullet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20px;
            margin-left: 40px;
            padding-bottom: 20px;

            .circle {
              display: flex;
              background-color: #d9d9d9;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              margin-top: 9px;
              margin-left: 20px;
            }

            .text {
              display: flex;
              flex-direction: column;
              font-family: 'Poppins';
              font-weight: 800;
              font-size: 25px;
              // text-align: justify;
              color: rgba(31, 37, 47, 255);
              padding: 0px 20px 0px 20px;

              .unbold {
                font-weight: 200;
              }

              .sub-bullet {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                .sub-circle {
                  display: flex;
                  background-color: rgba(31, 37, 47, 255);
                  height: 10px;
                  width: 10px;
                  border-radius: 50%;
                  margin-top: 20px;
                  margin-left: 20px;
                }

                .sub-text {
                  display: flex;
                  flex-direction: column;
                  font-family: 'Poppins';
                  font-weight: 200;
                  font-size: 25px;
                  // text-align: justify;
                  line-height: 30px;
                  color: rgba(31, 37, 47, 255);
                  padding: 0px 20px 0px 20px;
                  margin-top: 10px;
                }
              }

              .sub-text {
                display: flex;
                flex-direction: column;
                font-family: 'Poppins';
                font-weight: 200;
                font-size: 25px;
                // text-align: justify;
                line-height: 30px;
                color: rgba(31, 37, 47, 255);
                margin-top: 10px;
              }
            }
          }
        }

        .color-bar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          width: 300px;
          height: 60px;
          border-radius: 0% 80px 0% 0%;
          background: #d9d9d9;
          z-index: 3;
          margin-top: 15px;
        }
      }


    }
  }
}

@media (max-width: 320px) {
  .page-container {

      .nav {
        width: 200px;
        height: 50px;
        border-radius: 0% 0% 0% 40px;

        .nav-container {
          height: 100%;
          gap: 30px;

          .home-bt {
            height: 30px;
            width: 30px;
          }

          .project-bt {
            height: 30px;
            width: 30px;
          }
        }
      }

      .top-bg {

        .right {
          margin-top: 0px;
          width: 70%;

          .top-right {
            justify-content: center;
            align-items: center;
            width: 100%;

            .name {
              font-size: 30px;
              line-height: 30px;
            }

            .description {
              font-size: 15px;
            }
          }
        }
      }

      .bt-bg1 {
        flex-direction: column;

        .left {
          width: 100%;
          margin-top: 0px;
          margin-left: 0px;

          .top-left {

            img {
              width: 75%;
            }
          }

          .middle-left1 {

            .color-box {
              padding: 10px 50px 10px 20px;
              font-size: 15px;
            }

            .text {
              font-size: 12px;
            }
          }

          .middle-left2 {

            .color-box {
              padding: 10px 50px 10px 20px;
              font-size: 15px;
            }

            .list {

              .bullet {

                .circle {
                  height: 10px;
                  width: 10px;
                  margin-top: 16px;
                }

                .text {
                  font-size: 13px;
                }
              }
            }


          }

          .bottom-left {

            .color-box {
              padding: 10px 50px 10px 20px;
              font-size: 15px;
            }

            .text-container {
              padding: 0px;

              .text {
                padding: 10px 0px 10px 20px;
                font-size: 13px;
              }
            }
          }
        }

        .right {
          width: 100%;

          .middle-right {

            .color-box {
              padding: 10px 50px 10px 20px;
              font-size: 15px;
            }

            .list {

              .bullet {
                margin-top: 10px;
                margin-left: 0px;

                .circle {
                  height: 6px;
                  width: 10px;
                  margin-top: 9px;
                  margin-left: 13px;
                }

                .text {
                  font-size: 13px;
                  padding: 0px 10px 0px 10px;

                  .sub-bullet {

                    .sub-circle {
                      height: 5px;
                      width: 5px;
                      margin-top: 10px;
                      margin-left: 8px;
                    }

                    .sub-text {
                      font-size: 10px;
                      line-height: 15px;
                      margin-top: 7;
                    }
                  }


                }
              }
            }
          }


          .bottom-right {

            .color-box {
              padding: 10px 50px 10px 20px;
              font-size: 15px;
            }

            .list {

              .bullet {
                margin-top: 10px;
                margin-left: 0px;
                padding-bottom: 10px;

                .circle {
                  height: 7px;
                  width: 7px;
                  margin-top: 5px;
                  margin-left: 13px;
                }

                .text {
                  font-size: 12px;
                  line-height: 18px;
                  padding: 0px 10px 0px 10px;

                  .sub-bullet {

                    .sub-circle {
                      height: 5px;
                      width: 6px;
                      margin-top: 15px;
                      margin-left: 8px;
                    }

                    .sub-text {
                      font-size: 10px;
                      line-height: 14px;
                    }
                  }

                  .sub-text {
                    font-size: 10px;
                    line-height: 14px;
                  }
                }
              }
            }

            .color-bar {
              width: 160px;
              height: 30px;
            }
          }
        }
      }
    }
}
