.page-container {
  display: flex;
  flex-direction: column;
  // height: 100%;
  width: 100%;
  background: #ebebeb;

  .nav {
    position: absolute;
    width: 450px;
    height: 80px;
    border-radius: 0% 0% 0% 80px;
    background: rgba(31, 37, 47, 255);
    right: 0px;
    z-index: 9;

    .nav-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 60px;

      .home-bt {
        border: none;
        background: url('/assets/home-icon.png') no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }

      .project-bt {
        border: none;
        background: url('/assets/project-icon.png') no-repeat;
        background-size: 100%;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }
    }
  }

  .star-container {
    padding: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 20px;

    p {
        font-weight: 600;
        font-family: 'Poppins';
        font-size: 25px;
      }

    input, button {
      margin-left: 10px;
      font-family: 'Poppins';
      font-size: 20px;
    }

    .ans-section {
      display: flex;
      flex-direction: row;

      div {
        margin-top: 10px;
        margin-left: 40px;
        font-family: 'Poppins';
        font-size: 20px;
        background: white;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

    .table-container {
      padding: 50px;

      p {
        font-weight: 600;
        font-family: 'Poppins';
        font-size: 25px;
      }

      table {
        width: 100%;

        th,
        td {
          text-align: center;
        }
      }
    }

}

@media (max-width: 320px) {
  .page-container {

    .nav {
      width: 200px;
      height: 50px;
      border-radius: 0% 0% 0% 40px;

      .nav-container {
        height: 100%;
        gap: 30px;

        .home-bt {
          height: 30px;
          width: 30px;
        }

        .project-bt {
          height: 30px;
          width: 30px;
        }
      }
    }

    .star-container {
      padding: 50px 0px 0px 10px;
      font-size: 15px;
      width: 90%;

      p {
          font-size: 15px;
        }

      input, button {
        font-size: 15px;
      }

      .ans-section {

        div {
          font-size: 10px;
        }
      }
    }

      .table-container {
        padding: 15px;

        p {
          font-size: 15px;
        }
      }
  }
}
