<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>

<body style="margin: 0px;">
  <div class="page-container">
    <div class="nav">
      <div class="nav-container">
        <button class="home-bt" (click)="homeBt()"></button>
        <button class="project-bt" (click)="projectBt()"></button>
      </div>
    </div>

    <div class="star-container">
      <p>Star Project</p>
      <div class="input-section"> input your num for the star plz
        <input type="text" [(ngModel)]="num">
        <button (click)="loop1(num);">submit</button>
      </div>
      <div class="ans-section">Answer here
        <div [innerHTML]="output1" [hidden]="!showResults"></div>
        <div [innerHTML]="output2" [hidden]="!showResults"></div>
      </div>
    </div>

    <div class="table-container">
      <p>Pokemon API Project</p>
      <table mat-table [dataSource]="dataSrc">

        <ng-container matColumnDef="entry_number">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.entry_number}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> Appearance </th>
          <td mat-cell *matCellDef="let element"> <img [src]="element.url"> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
      </table>

      <mat-paginator #paginator1 [pageSizeOptions]="[5,10]" showFirstLastButtons aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</body>
